# Name of this GitHub Actions workflow.
name: Generate 5.0 Outputs (Debug)

on:
  # Scan on-demand through GitHub Actions interface:
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  prepare_container:
    uses: owasp/asvs/.github/workflows/create-5.0-outputs.yml@build-warnings

  debug:
    needs: prepare_container
    runs-on: ubuntu-latest
    steps:
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
